{% extends 'base.html' %}

{% block title %}Автозапчастини{% endblock %}

{% block content %}
<h1>Список автозапчастин</h1>
<table border="1" cellpadding="5">
    <tr>
        <th>№</th>
        <th>Назва</th>
        <th>Марка авто</th>
        <th>Артикул</th>
        <th>Країна походження</th>
        <th>Ціна</th>
    </tr>
    {% for p in products %}
    <tr>
        <td>{{ forloop.counter }}</td>
        <td>{{ p.name }}</td>
        <td>{{ p.vehicle_brand }}</td>
        <td>{{ p.part_number }}</td>
        <td>{{ p.origin_country }}</td>
        <td>{{ p.price }}</td>
    </tr>
    {% empty %}
    <tr>
        <td colspan="6">На складі немає товарів</td>
    </tr>
    {% endfor %}
</table>
{% endblock %}
